


<h2>Results:</h2>
<li>Your word: <%= @user_word%></li>
<li>Time Taken: <%= @score_hash[:time]%> </li>
<li>Translation: <%= @score_hash[:translation]%> </li>
<li>Your Score: <%= @score_hash[:score]%> </li>
<li>Message: <%= @score_hash[:message]%></li>


